{extend name="layout/matrix" /}

{block name="main-header"}
<section class="content-header">
    <h1>
        结算单详情
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{:url('/')}"><i class="fa fa-home"></i> 首页</a></li>
        <li class="active">结算单详情</li>
    </ol>
</section>
{/block}

{block name="main"}
<!-- Main content -->
<section class="invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-globe"></i> 河北代理
                <small class="pull-right">日期: 2018/10/14</small>
            </h2>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            收款方:
            <strong>张三</strong>
            <address>
                <br>
                中国、河北省、石家庄市 裕华路88号<br>
                账号: 6205000*****118<br>
                电话: (+86) 1883322114<br>
                电子邮箱: info@almasaeedstudio.com
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            付款方：<strong>石家庄蓝儿</strong>
            <address>
                <br>
                中国、河北省、石家庄市 大经街1号<br>
                账号: 3115245***14<br>
                电话: (0311) 8539-1037<br>
                电子邮箱: john.doe@example.com
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <b>订单信息</b><br>
            <br>
            <b>结算单号:</b> L2175112220004<br>
            <b>结算方式:</b> 转账<br>
            <b>结算时间:</b> 2018/10/10<br>
            <b>结算金额:</b> 328.60<br>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Table row -->
    <div class="row">

        <div class="col-xs-12 table-responsive">
            <p class="lead">交易明细</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>订单号</th>
                    <th>支付时间</th>
                    <th>支付方式</th>
                    <th>支付金额</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>S252114221012</td>
                    <td>2018-09-05 12:21:33</td>
                    <td>微信</td>
                    <td>64.50</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>S25211425107</td>
                    <td>2018-09-02 20:01:33</td>
                    <td>微信</td>
                    <td>124.00</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>S252114220524</td>
                    <td>2018-09-09 13:01:03</td>
                    <td>微信</td>
                    <td>5.20</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>S252114221047</td>
                    <td>2018-09-15 10:25:35</td>
                    <td>微信</td>
                    <td>98.40</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>S252114552409</td>
                    <td>2018-09-19 21:20:01</td>
                    <td>微信</td>
                    <td>99.00</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <!-- accepted payments column -->
        <!--<div class="col-xs-6">-->
            <!--<p class="lead">Payment Methods:</p>-->
            <!--<img src="../../dist/img/credit/visa.png" alt="Visa">-->
            <!--<img src="../../dist/img/credit/mastercard.png" alt="Mastercard">-->
            <!--<img src="../../dist/img/credit/american-express.png" alt="American Express">-->
            <!--<img src="../../dist/img/credit/paypal2.png" alt="Paypal">-->

            <!--<p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">-->
                <!--Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg-->
                <!--dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.-->
            <!--</p>-->
        <!--</div>-->
        <!-- /.col -->
        <div class="col-xs-12">
            <p class="lead">汇率信息 2018/10/10</p>

            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th style="width:50%">币种:</th>
                        <td>人民币</td>
                    </tr>
                    <tr>
                        <th>交易单位:</th>
                        <td>100</td>
                    </tr>
                    <tr>
                        <th>中间价:</th>
                        <td>$5.80</td>
                    </tr>
                    <tr>
                        <th>买入价:</th>
                        <td>$265.24</td>
                    </tr>
                    <tr>
                        <th>买出价:</th>
                        <td>$265.24</td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
            <a href="#" class="btn btn-default"><i class="fa fa-print"></i> 打印</a>
            <button type="button" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> 确认
            </button>
            <!--<button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">-->
                <!--<i class="fa fa-download"></i> 生成 PDF-->
            <!--</button>-->
        </div>
    </div>
</section>
{/block}